body{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../img/bgimg.jpg);	/* 背景图片 */
    background-repeat: no-repeat;	/* 背景图片不重复 */
}
body h1
{
    color: white;	/* LOGIN字体颜色 */
}
form{
    margin: 0 auto;	/* login框剧中 */
    margin-top: 100px; /* login框与顶部的距离 */
    padding: 20px 50px;	/* login框内部的距离(内部与输入框和按钮的距离) */
    background-color: #00000090;	/* login框背景颜色和透明度 */
    width: 500px;
    height: 500px;
    border-radius: 10px;	/* 圆角边 */
    text-align: center;	/* 框内所有内容剧中 */
    color: white;
}
#bigBox .submit{
    padding: 8px;
    position: relative;
    margin-top: 50px;	/* 输入框顶部与LOGIN标题的间距 */
}
input[type=reset], input[type=submit]{
    background: white;
    padding: 5px;
    width: 100px;
    border: 1px solid black;
}
input[type=reset]:hover, input[type=submit]:hover{
    background:rgb(168, 168, 168);
}
#btns {
    width: fit-content;
    margin-left: auto;
}
input{
    padding: 2px;
    border: 1px solid black;
}
input[type=text]:focus, input[type=password]:focus{
    background: rgb(232, 246, 255);
}
p{
    margin-bottom: 2px;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: red;
}
[name=unsuccess]{
    background-color: rgba(255, 0, 0, 0.548);
    color: black;
    padding: 2px;
    text-align: center;
    border-radius: 5px;
}
[name=success]{
    background-color: rgba(0, 204, 27, 0.548);
    color: black;
    padding: 2px;
    text-align: center;
    border-radius: 5px;
}
